[nz-carousel-content] {
  text-align: center;
  height: 250px;
  line-height: 250px;
  //background: #364d79;
  //background: url("../../../assets/images/test1.png");
  color: #fff;
  overflow: hidden;
}
h3 {
  color: #fff;
}
