<!-- Horizontal Form -->
<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">学生信息</h3>
  </div>
  <!-- /.box-header -->
  <!-- form start -->
  <form class="form-horizontal">
    <div class="box-body">

      <div class="form-group">
        <label for="id1" class="col-sm-2 control-label">学生学号</label>

        <div class="col-sm-4">
          <input [readonly]="studentId!='-1'" [(ngModel)]="id1" name="id1" type="text" class="form-control" id="id1" value={{id1}}>
        </div>
      </div>

      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">学生姓名</label>

        <div class="col-sm-4">
          <input [(ngModel)]="name" name="name" type="text" class="form-control" id="name" value={{name}}>
        </div>
      </div>

      <div class="form-group">
        <label for="entranceYear" class="col-sm-2 control-label">入学年份</label>

        <div class="col-sm-4">
          <input [(ngModel)]="entranceYear" name="entranceYear" type="text" class="form-control" id="entranceYear" value={{entranceYear}}>
        </div>
      </div>


      <!-- checkbox -->
      <div class="form-group">
        <label for="name" class="col-sm-2 control-label">学生性别</label>
        <nz-radio-group [(ngModel)]="radioValue" name="radioValue">
          <label nz-radio nzValue="男">男</label>
          <label nz-radio nzValue="女">女</label>
        </nz-radio-group>

      </div>

      <div class="form-group">
        <label for="department" class="col-sm-2 control-label">院系名称</label>

        <div class="col-sm-6">
          <input [(ngModel)]="department" name="department" type="text" class="form-control" id="department" value={{department}}>
        </div>
      </div>

      <div class="form-group">
        <label for="major" class="col-sm-2 control-label">专业名称</label>

        <div class="col-sm-6">
          <input [(ngModel)]="major" name="major" type="text" class="form-control" id="major" value={{major}}>
        </div>
      </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
     <a routerLink="/test/student"><button type="submit" class="btn btn-default" >取消</button></a>
      <a routerLink="/test/student"><button type="submit" class="btn btn-info pull-right" (click)="save()">保存</button></a>
    </div>
    <!-- /.box-footer -->
  </form>
</div>
