<div class="box">
  <div class="box-header with-border">
    <h3 class="box-title">学生列表</h3>

  </div>
  <div class="box-header  with-border">
    <a class="btn btn-success btn-xs" (click)="create()"><span class="fa fa-edit"></span>&nbsp;新增学生</a>
    &nbsp;&nbsp;
    <a class="btn btn-success btn-xs" (click)="Refresh()"><span class="fa fa-repeat"></span> 刷新</a>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input [formControl]="nameFilter" type="text" name="table_search" class="form-control pull-right" placeholder="查找学生">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <nz-collapse>
    <nz-collapse-panel *ngFor="let panel of panels" [nzHeader]="panel.name" [nzActive]="panel.active" [nzDisabled]="panel.disabled">
        <nz-input-group nzCompact nzSearch>
          <nz-select [ngModel]="'学生编号'">
            <nz-option [nzLabel]="'学生编号'" [nzValue]="'学生编号'"></nz-option>
            <nz-option [nzLabel]="'学生姓名'" [nzValue]="'学生姓名'"></nz-option>
            <nz-option [nzLabel]="'学生院系'" [nzValue]="'学生院系'"></nz-option>
            <nz-option [nzLabel]="'学生专业'" [nzValue]="'学生专业'"></nz-option>
          </nz-select>
          <input type="email" nz-input placeholder="关键词" style="width: 500px;">
          <button nz-button nzType="primary"  nzSearch>查找</button>
        </nz-input-group>
    </nz-collapse-panel>
  </nz-collapse>

  <nz-table #basicTable [nzData]="displayData"  nzBordered nzShowSizeChanger [nzPageIndex]="pageindex" [(nzPageSize)]="pagesize" nzShowQuickJumper [nzShowTotal]="rangeTemplate">
    <ng-template #rangeTemplate let-range="range" let-total>
      自定义页数： <nz-input-number [(ngModel)]="pagesize" [nzMin]="1" [nzMax]="100" [nzStep]="1" (keydown)="changepagesize($event)" ></nz-input-number>
      ||{{range[0]}}到{{range[1]}}条数据 /总共{{total}}条数据
    </ng-template>
    <thead (nzSortChange)="sort($event)" nzSingleSort>
    <tr>
      <th nzShowSort nzSortKey="id">序号</th>
      <th nzShowSort nzSortKey="name" >姓名</th>
      <th >性别</th>
      <th nzShowSort nzSortKey="department">院系</th>
      <th nzShowSort nzSortKey="major" >专业</th>
      <th >入学年份</th>
      <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let data of basicTable.data | studentFilter:'name':keywork ;">
      <td>{{data.id}}</td>
      <td>{{data.name}}</td>
      <td>{{data.sex}}</td>
      <td>{{data.department}}</td>
      <td>{{data.major}}</td>
      <td>{{data.entranceYear}}</td>
      <td>
        <a class="btn btn-warning btn-xs" (click)="update(student,data.id)"><span class="fa fa-edit"></span>&nbsp;修改</a>&nbsp;
        <a class="btn btn-danger btn-xs" (click)="delete(data.id)" ><span class="fa fa-trash-o"></span>&nbsp;删除</a>
      </td>
    </tr>
    </tbody>

  </nz-table>
  <!--<div class="box-header  with-border">
    <a class="btn btn-success btn-xs" (click)="create()"><span class="fa fa-edit"></span>&nbsp;新增学生</a>
    <div class="box-tools">
      <div class="input-group input-group-sm" style="width: 150px;">
        <input [formControl]="nameFilter" type="text" name="table_search" class="form-control pull-right" placeholder="查找学生">

        <div class="input-group-btn">
          <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.box-header -->
  <!--<div class="box-body">
    <table class="table table-bordered">
      <tr>
        <th>序号</th>
        <th>姓名</th>
        <th>性别</th>
        <th>院系</th>
        <th>专业</th>
        <th>详情</th>
        <th>操作</th>
      </tr>
      <tr *ngFor="let student of students | studentFilter:'name':keywork;let i = index">
        <td>{{i+1}}</td>
        <td>{{student.name}}</td>
        <td>{{student.gender}}</td>
        <td>{{student.department}}</td>
        <td>{{student.major}}</td>
        <td><a class="btn btn-info btn-xs"><span class="fa fa-odnoklassniki"></span>&nbsp;详情</a></td>
        <td>
          <a class="btn btn-warning btn-xs" (click)="update(student,i)"><span class="fa fa-edit"></span>&nbsp;修改</a>&nbsp;
          <a class="btn btn-danger btn-xs" (click)="delete(i)"><span class="fa fa-trash-o"></span>&nbsp;删除</a>
        </td>
      </tr>
    </table>
  </div>
  <!-- /.box-body -->
</div>
